@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, #fff, rgb(138, 185, 255));
}
.frame {
    width: 450px;
    height: 250px;
    background: rgb(194, 189, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px gray;
}
.header {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    width: 95%;
    border-bottom: 1px solid gray;
}
.message-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}
.message-box p {
    font-size: 1.2rem;
    padding: 15px 0 ;
}
.message-input {
    padding:10px 0;
    word-spacing: -5px;
    display: flex;
    align-items: center;
}
.message-input input {
    padding: 5px 100px 5px 2px;  
    outline: 0;
    border-radius: 0 3px 3px 0;
    border: 1px solid gray;
}
.message-input i {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px 0 0 3px;
}
.submit {
    padding: 5px 10px;
    margin-top: 5px;
}
.message-text {
    width: 90%;
    text-align: center;
    text-transform: uppercase;
}